{% if page.url == "/about/" %}
<div class="dark-mode">
{% endif %}
{% if page.path contains "_services" %}
<div class="dark-mode">
{% endif %}
<header class="navbar navbar-expand-lg fixed-top">
	<div class="container">
		<a class="navbar-brand pe-sm-3 fw-700" href="{{ site.url }}" >
			<span class="flex-shrink-0 me-2">
				<svg version="1.1" width="35" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264.59 307.83">
					<path fill="currentColor" d="M249.8,281.55c7.79-33.76-44-37.08-37.76-69l13.46-68.88h-35c-13.95,1.09-18.32,9.46-20.77,20.59l-3,15.49C161.49,215,207,217.66,205.81,244.47L165.34,451.55h35.37c9.11,0,18-8,19.39-15.48Z" transform="translate(-165.34 -143.72)"/>
					<path fill="currentColor" d="M338.09,353c7.79-33.76-44-37.07-37.76-68.95l27.19-140.33h-35c-13.95,1.09-18.32,9.46-20.77,20.59L255,251.26c-5.18,35.22,40.36,37.86,39.14,64.67L267.37,451.55h35.36c9.11,0,18-8,19.4-15.48Z" transform="translate(-165.34 -143.72)"/>
					<path fill="currentColor" d="M426.45,426.11c7.79-33.77-44-37.08-37.76-69l41.24-213.43h-35c-13.95,1.09-18.32,9.46-20.77,20.59L343.32,324.36c-5.18,35.22,40.36,37.86,39.14,64.67l-12.69,62.52h35.37c9.11,0,18-8,19.39-15.48Z" transform="translate(-165.34 -143.72)"/>
				</svg>
			</span>{{ site.shortname }}
		</a>
		<div class="form-check form-switch mode-switch order-lg-2 me-3 me-lg-4 ms-auto" data-bs-toggle="mode">
			<input class="form-check-input" type="checkbox" id="theme-mode">
			<label class="form-check-label text-dark" for="theme-mode"><i class="ai-sun fs-lg"></i></label>
			<label class="form-check-label text-dark" for="theme-mode"><i class="ai-moon fs-lg"></i></label>
		</div>
		<a class="btn btn-dark btn-sm rounded-0 fs-sm order-lg-3 d-none d-sm-inline-flex" href="/contact/" rel="noopener">
			<i class="ai-emoji-happy fs-xl me-2 ms-n1"></i>Hubungi Kami
		</a>
		<button class="navbar-toggler ms-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<nav class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav navbar-nav-scroll me-auto" style="--ar-scroll-height: 520px;">
				{% assign dropdown_menu = site.data.menu.dropdown-menu %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle fw-600" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Layanan</a>
					<ul class="dropdown-menu">
						{% for item in dropdown_menu %}
						<li><a class="dropdown-item fw-600 {% if item.url == page.url %} active {% endif %}" href="{{ item.url | relative_url }}">{{ item.name }}</a></li>
						{% endfor %}
					</ul>
				</li>
				{% assign main_menu = site.data.menu.main-menu %}
				{% for item in main_menu %}
				<li class="nav-item">
					<a class="nav-link {% if item.url == page.url %} active {% endif %} fw-600" href="{{ item.url | relative_url }}">{{ item.name }} &nbsp; {% if item.url == "/courses/" %} <span class='badge bg-faded-info text-info'>Segera</span> {% endif %}</a>
				</li>
				{% endfor %}
			</ul>
			<div class="d-sm-none p-3 mt-n3">
				<a class="btn btn-dark rounded-1 w-100 mb-1" href="/contact/" rel="noopener">
					<i class="ai-emoji-happy fs-xl me-2 ms-n1"></i>Hubungi Kami
				</a>
			</div>
		</nav>
	</div>
</header>
{% if page.url == "/about/" %}
</div>
{% endif %}
{% if page.path contains "_services" %}
</div>
{% endif %}
