---
layout: compress
---
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>
			{% if page.title %}
				{{ page.title }} - {{ site.title }}
			{% else %}
				{{ site.title }} - {{ site.tagline }}
			{% endif %}
		</title>
		{% seo %}
		{% include header.html %}
	</head>
	<body>
		<div class="page-loading active">
			<div class="page-loading-inner">
				<div class="page-spinner"></div><span>Mohon Tunggu...</span>
			</div>
		</div>
		<main class="page-wrapper {% if page.url == '/contact/' %} bg-secondary {% endif %}">
		{% include menu.html %}
			{{ content }}
		</main>
		{% include footer.html %}
	</body>
</html>
