--- 
layout: default
---

<section class="container py-5 mt-5 mb-xl-3 mb-xxl-5">
	<div class="row pt-2">
		<div class="col-lg-6 d-flex flex-column mb-4 mb-lg-0 pb-sm-3 pb-lg-0">
			<h1 class="display-1 text-uppercase fw-bold mt-auto mb-2">Studio <span class='fw-normal'>Kreatif</span> Jakarta<span class="d-none d-md-inline-block align-middle ms-4" style="width: 120px; height: 2px; background-color: currentColor;"></span></h1>
			<div class="d-flex align-items-center py-4 py-lg-5"><a class="btn btn-lg btn-dark rounded-0 me-2 me-sm-3" href="/contact/">Hubungi Kami</a>
				<div class="flex-shrink-sm-0">
					<img class="d-dark-mode-none" src="assets/img/static/clutch-rating-dark.svg" width="155" alt="{{ site.title }}">
					<img class="d-none d-dark-mode-block" src="assets/img/static/clutch-rating-light.svg" width="155" alt="{{ site.title }}">
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="row row-cols-1 row-cols-sm-2 g-1">
				{% include hero.html %}
			</div>
		</div>
	</div>
</section>

<section class="container py-md-4 py-lg-5 mb-xl-3 mb-xxl-5">
	<div class="row pt-sm-2">
		<div class="col-xl-10">
			<p class="fs-4 text-dark pb-md-2 mb-lg-5">Kami memberikan perhatian khusus untuk merancang solusi untuk masalah yang ada dari setiap pekerjaan yang kami terima, menciptakan merek yang menjadi bagian dari sejarah, dan menciptakan keterampilan digital yang memanfaatkan kekuatan kreativitas dan kemanusiaan.</span></p>
		</div>
	</div>
	<div class="row pb-5">
		<div class="col-sm-4 col-lg-3 mb-3">
			<h3 class="display-1 mb-0 mb-sm-1 fw-900">7+</h3>
			<span class="fs-md fw-600">Tahun Pengalaman</span>
		</div>
		<div class="col-sm-4 col-lg-3 mb-3">
			<h3 class="display-1 mb-0 mb-sm-1 fw-900">12</h3>
			<span class="fs-md fw-600">Jam Dukungan Pelanggan</span>
		</div>
		<div class="col-sm-4 col-lg-3 mb-2 mb-sm-3">
			<h3 class="display-1 mb-0 mb-sm-1 fw-900">10+</h3>
			<span class="fs-md fw-600">Klien Berbagai Bidang</span>
		</div>
	</div>
</section>