---
layout: default
---

<section class="container py-5 mt-5 mb-xl-3 mb-xxl-5">
	<div class="row pt-2">
		<div class="col-lg-6 d-flex flex-column mb-4 mb-lg-0 pb-sm-3 pb-lg-0">
			<h1 class="display-1 text-uppercase fw-bold mt-auto mb-2">Studio <span class='fw-normal'>Kreatif</span> Jakarta<span class="d-none d-md-inline-block align-middle ms-4" style="width: 120px; height: 2px; background-color: currentColor;"></span></h1>
			<div class="d-flex align-items-center py-4 py-lg-5"><a class="btn btn-lg btn-dark rounded-0 me-2 me-sm-3" href="/contact/">Hubungi Kami</a>
				<div class="flex-shrink-sm-0">
					<img class="d-dark-mode-none" src="assets/img/static/clutch-rating-dark.svg" width="155" alt="{{ site.title }}">
					<img class="d-none d-dark-mode-block" src="assets/img/static/clutch-rating-light.svg" width="155" alt="{{ site.title }}">
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="row row-cols-1 row-cols-sm-2 g-1">
				{% if site.data.home %}
					{% for item in site.data.home.hero-card %}
					<div class="col">
						<a class="card-flip" href="{{ item.url | relative_url }}">
							<div class="card-flip-inner">
								<div class="card-flip-front" style="background-image: url({{ item.image | relative_url }});">
									<div class="d-flex flex-column h-100 ignore-dark-mode">
										<h2 class="fs-lg fw-700 mb-0 mt-auto">{{ item.title }}</h2>
									</div>
								</div>
								<div class="card-flip-back bg-secondary">
									<div class="d-flex flex-column h-100 px-sm-2 pt-sm-2 px-lg-0 pt-lg-0 px-xl-3 pt-xl-3">
										<h3 class="h4">{{ item.title }}</h3>
										<p class="text-body mb-3">{{ item.content }}</p>
										<div class="text-end pt-3 pt-sm-2 pt-xl-4 mt-auto me-sm-n2 me-lg-0 me-xl-n3">
											<div class="btn btn-sm btn-icon btn-outline-dark rounded-circle"><i class="ai-arrow-right"></i></div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</section>

<section class="container py-md-4 py-lg-5 mb-xl-3 mb-xxl-5">
	<div class="row pt-sm-2">
		<div class="col-xl-10">
			<p class="fs-4 text-dark pb-md-2 mb-lg-5">Kami memberikan perhatian khusus untuk merancang solusi untuk masalah yang ada dari setiap pekerjaan yang kami terima, menciptakan merek yang menjadi bagian dari sejarah, dan menciptakan keterampilan digital yang memanfaatkan kekuatan kreativitas dan kemanusiaan.</span></p>
		</div>
	</div>
	<div class="row pb-5">
		<div class="col-sm-4 col-lg-3 mb-3">
			<h3 class="display-1 mb-0 mb-sm-1 fw-900">7+</h3>
			<span class="fs-md fw-600">Tahun Pengalaman</span>
		</div>
		<div class="col-sm-4 col-lg-3 mb-3">
			<h3 class="display-1 mb-0 mb-sm-1 fw-900">12</h3>
			<span class="fs-md fw-600">Jam Dukungan Pelanggan</span>
		</div>
		<div class="col-sm-4 col-lg-3 mb-2 mb-sm-3">
			<h3 class="display-1 mb-0 mb-sm-1 fw-900">10+</h3>
			<span class="fs-md fw-600">Klien Berbagai Bidang</span>
		</div>
	</div>
</section>

<section class="container overflow-hidden pb-5 mb-2 mb-lg-3 mb-xl-4 mb-xxl-5">
	<div class="masonry-filterable">
		<div class="row pb-lg-4 mb-2 mb-sm-3">
			<div class="col-xxl-3 col-lg-4 text-center text-lg-start">
				<h1>Projek Kami</h1>
				<p class="mb-4 mb-lg-0">Beberapa projek yang pernah kami kerjakan</p>
			</div>
			<div class="col-xxl-9 col-lg-8 d-flex">
				{% assign filter-item = site.data.filter.filter-project %}
				<ul class="masonry-filters nav nav-pills fs-sm flex-nowrap overflow-auto text-nowrap mx-auto me-lg-0 pb-3">
				{% for item in filter-item %}
					<li class="nav-item mb-0"><a class="nav-link border {% if item == name %} active {% endif %}" href="#" data-group="{{ item.data-group }}">{{ item.name }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="masonry-grid" data-columns="3">
			{% assign projects = site.data.project | sort: 'year' %}
			{% for item in projects limit: 9 %}
			<article class="masonry-grid-item pb-5 mb-md-2 mb-lg-4 mb-xl-5" data-groups='["{{ item.data-group }}"]'>
				<div class="zoom-effect position-relative border-bottom pb-3" style="max-width: 512px;">
					<div class="zoom-effect-wrapper">
						<div class="zoom-effect-img"><img src="{{ item.project-thumbnail | relative_url }}" alt="{{ item.client-name }}"></div>
					</div>
					<div class="pt-4 mt-lg-2">
						<h2 class="h4 mb-2"><a class="stretched-link" href="{{ item.url | relative_url }}">{{ item.client-name }}</a></h2>
						<div class="d-flex justify-content-between fs-lg text-muted">
							<span>{{ item.category }}</span>
							<span>{{ item.year }}</span>
						</div>
					</div>
				</div>
			</article>
			{% endfor %}
		</div>
		<div class="text-center pb-sm-2 pb-md-4 mt-n1 mt-lg-n2">
			<a class="btn btn-lg btn-outline-dark rounded-0" href="/project/">Lihat Semua Projek</a>
		</div>
	</div>
</section>

<section class="pt-sm-1 pt-lg-3 pt-xl-4">
	<div class="container text-center">
		<h2 class="h1">Dipercaya dan bermitra dengan klien di segala jenis industri</h2>
		<p class="pb-1 pb-sm-2 pb-md-3 pb-lg-4 mb-3">Berbagai bisnis dan perusahaan terkemuka, dari skala kecil sampai besar, telah mempercayakan kami.</p>
	</div>
	<div class="swiper" data-swiper-options='{"loop": true,"grabCursor": false,"centeredSlides": true,"autoplay": {"delay": 0,"disableOnInteraction": false},"freeMode": true,"speed": 10000,"freeModeMomentum": false,"breakpoints": {"0": { "slidesPerView": 2 },"600": { "slidesPerView": 3 },"800": { "slidesPerView": 4 },"1200": { "slidesPerView": 5 },"1400": { "slidesPerView": 6 },"1600": { "slidesPerView": 7 }}}'>
		{% assign clients = site.data.home.client-logo | sort: 'name' %}
		<div class="swiper-wrapper" style="transition-timing-function: linear !important;">
			{% for item in clients %}
			<div class="swiper-slide">
				<img class="d-block d-dark-mode-none mx-auto" src="{{ item.logo-dark | relative_url }}" width="{{ item.width }}" alt="{{ item.name }}">
				<img class="d-none d-dark-mode-block mx-auto" src="{{ item.logo-light | relative_url}}" width="{{ item.width }}" alt="{{ item.name }}">
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<section class="container position-relative zindex-2 py-5 mt-n3 mt-sm-0 mb-md-3 my-lg-3 my-xl-4 my-xxl-5">
	<div class="row py-md-4 py-lg-5">
		{% if site.data.home %}
		<div class="col-md-9 col-lg-7 order-md-2">
			<div class="swiper" data-swiper-options='{"spaceBetween": 40,"loop": true,"bindedContent": true,"autoHeight": true,"pagination": {"el": ".testimonials-count","type": "fraction"},
			"navigation": {"prevEl": "#prev-testimonial","nextEl": "#next-testimonial"}}'>
				<div class="swiper-wrapper">
					{% for item in site.data.home.testimonial %}
					<div class="swiper-slide" data-swiper-binded="{{ item.data-swiper }}">
						<div class="d-flex d-md-none pt-3 mb-3"><i class="ai-quotes d-md-none text-dark display-3 mt-n2"></i>
							<div class="ps-3">
								<h3 class="h5 mb-0">{{ item.name }}</h3>
								<p class="text-muted mb-0">{{ item.position }}</p>
							</div>
						</div>
						<h2 class="mb-lg-4">{{ item.title }}</h2>
						<p class="lead mb-0">{{ item.content }}</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% endif %}

		{% if site.data.home %}
		<div class="col-md-3 offset-lg-1 order-md-1 mt-n3">
			<i class="ai-quotes d-none d-md-block text-dark ms-n2 mb-1" style="font-size: 150px;"></i>
			<div class="binded-content h-auto d-none d-md-block">
			{% for item in site.data.home.testimonial-control %}
				<div class="binded-item h-auto {{ item.class }}" id="{{ item.id }}">
					<h3 class="h5 mb-1">{{ item.name }}</h3>
					<p class="text-muted mb-0">{{ item.position }}</p>
				</div>
			{% endfor %}
			</div>
		{% endif %}
			<div class="d-flex align-items-center pb-2 pb-md-0 pt-4 mt-3">
				<button class="btn btn-icon btn-sm btn-outline-dark rounded-circle me-3" type="button" id="prev-testimonial"><i class="ai-arrow-left"></i></button>
				<div class="testimonials-count fw-medium flex-shrink-0 text-center" style="width: 2.5rem;"></div>
				<button class="btn btn-icon btn-sm btn-outline-dark rounded-circle ms-3" type="button" id="next-testimonial"><i class="ai-arrow-right"></i></button>
			</div>
		</div>
	</div>
</section>