---
layout: default
---

<section class="container pt-5 mt-5">
	<nav aria-label="breadcrumb">
		<ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
			<li class="breadcrumb-item"><a href="{{ site.url }}">{{ site.title }}</a></li>
			<li class="breadcrumb-item"><a href="/blog/">Blog</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ page.short-name }}</li>
		</ol>
	</nav>
	<div class="row mb-3 mb-sm-5">
		<div class="col-lg-9 col-xl-8 pe-lg-4 pe-xl-0">
			<h1 class="pb-2 pb-lg-3 fw-700">{{ page.title }}</h1>
			<div class="d-flex flex-wrap align-items-center justify-content-between mb-3">
				<div class="d-flex align-items-center mb-3 me-4">
					<span class="fs-sm me-2"></span>{% include reading.html %}</div>
				<div class="d-flex align-items-center mb-3"><span class="fs-sm">Oleh :</span>
					<div class="d-flex">
						<a class="nav-link p-2 me-2 fw-600" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ page.author }}">{{ page.author }}</a>
					</div>
				</div>
			</div>
			<figure class="figure">
				<img src="{{ page.featured-image | relative_url }}" class="figure-img rounded" alt="{{ page.title }}">
				<figcaption class="figure-caption pt-2">{{ page.title }}</figcaption>
			</figure>
			{{ content }}
			<div class="py-4" id="author">
				<div class="d-flex align-items-start py-2">
					<div class="d-md-flex w-100">
						<div style="max-width: 26rem;">
							<h3 class="h5 mb-2">{{ page.author }}</h3>
							<p class="fs-sm mb-0">{{ page.author-info }}</p>
						</div>
						{% include share.html %}
					</div>
				</div>
			</div>
		</div>
	<aside class="col-lg-3 offset-xl-1">
		<div class="offcanvas-lg offcanvas-end" id="sidebar">
			<div class="offcanvas-header">
				<h4 class="offcanvas-title">Sidebar</h4>
				<button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" data-bs-target="#sidebar"></button>
			</div>
			<div class="offcanvas-body">
				<h4 class="pt-1 pt-lg-0 mt-lg-n2">Terpopuler:</h4>
				<div class="mb-lg-5 mb-4">
				{% for post in site.posts limit: 4 %}
					{% if post.featured == true %}
						<article class="position-relative pb-2 mb-3 mb-lg-4">
							<img class="rounded" src="{{ post.thumbnail-image | relative_url }}" alt="{{ post.title }}">
							<h5 class="h6 mt-3 mb-0"><a class="stretched-link" href="{{ post.url }}">{{ post.title }}</a></h5>
						</article>
					{% endif %}
				{% endfor %}
				</div>
				<h4 class="pt-3 pt-lg-1 mb-4">Artikel Terbaru:</h4>
				<ul class="list-unstyled mb-lg-5 mb-4">
					{% for post in site.posts limit: 4 %}
						<li class="border-bottom pb-3 mb-3"><span class="h6 mb-0"><a href="{{ post.url }}">{{ post.title }}</a></span></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</aside>
	</div>
</section>