---
layout: default
---

<div class="container py-5 mt-5 mb-2 mb-sm-3 mb-lg-4 mb-xxl-5">
	<nav aria-label="breadcrumb">
		<ol class="pt-lg-2 pb-lg-3 pb-1 breadcrumb">
			<li class="breadcrumb-item"><a href="{{ site.baseurl }}">{{ site.title }}</a></li>
			<li class="breadcrumb-item"><a href="/project/">Projek</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ page.client-name }}</li>
		</ol>
	</nav>
	<div class="row">
		<div class="col-lg-11 col-xl-10">
			<h1 class="display-4 pb-3 pb-md-4 pb-lg-5">{{ page.description }}</h1>
		</div>
	</div>
	{% if page.video-url contains 'https' %}
		<div class="position-relative">
			<img src="{{ page.video-cover | relative_url }}" class="d-block rounded w-100" alt="{{ page.title }}">
			<div class="d-nline-flex position-absolute top-50 start-50 translate-middle zindex-2 p-4">
				<a href="{{ page.video-url | relative_url }}" class="btn btn-icon btn-xl btn-dark rounded-circle stretched-link" data-bs-toggle="video">
					<i class="ai-play-filled"></i>
				</a>
			</div>
		</div>
	{% else %}
		<img class="d-block rounded mb-3 mb-xl-4 mb-xxl-5" src="{{ page.image-url | relative_url }}" alt="{{ page.client-name }}">
	{% endif %}
	<div class="border-bottom py-4 py-lg-5">
		<div class="row">
			<div class="col-lg-11 col-xl-10">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 g-sm-4 pt-4 pt-xxl-5 mb-2 mb-sm-3 pb-xxl-4">
					<div class="col">
						<h2 class="fs-base fw-normal text-muted mb-2 mb-sm-3">Nama Klien</h2>
						<ul class="list-unstyled fs-lg fw-semibold text-dark mb-0">
							<li class="d-block py-1">{{ page.client-name }}</li>
						</ul>
					</div>
					<div class="col">
						<h2 class="fs-base fw-normal text-muted mb-2 mb-sm-3">Tahun Projek</h2>
						<ul class="list-unstyled fs-lg fw-semibold text-dark mb-0">
							<li class="d-block py-1">{{ page.year }}</li>
						</ul>
					</div>
					<div class="col">
						<h2 class="fs-base fw-normal text-muted mb-2 mb-sm-3">Lama Pengerjaan</h2>
						<ul class="list-unstyled fs-lg fw-semibold text-dark mb-0">
							<li class="d-block py-1">{{ page.time-spent }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="border-bottom py-md-2 py-lg-3 py-xl-4 py-xxl-5">
		<div class="row my-5">
			<div class="col-md-12 col-lg-12 col-xl-12">
				<h2 class="h1 pb-2">Tentang Projek</h2>
				{{ content }}
			</div>
		</div>
	</div>
	<div class="d-flex align-items-center py-3 my-3 mb-lg-4 mt-lg-4">
		<h2 class="h1 mb-0">Projek Lainnya</h2>
		<div class="d-flex ms-auto">
			<button class="btn btn-sm btn-icon btn-outline-dark rounded-circle ms-3" type="button" id="prev-project"><i class="ai-arrow-left"></i></button>
			<button class="btn btn-sm btn-icon btn-outline-dark rounded-circle ms-3" type="button" id="next-project"><i class="ai-arrow-right"></i></button>
		</div>
	</div>
	<div class="swiper" data-swiper-options='{"spaceBetween": 24,"loop": true,"navigation": {"prevEl": "#prev-project","nextEl": "#next-project"},"breakpoints": {"576": { "slidesPerView": 3 }}}'>
		{% assign projects = site.data.project | sort: 'year' %}
		<div class="swiper-wrapper">
		{% for item in projects %}
		<div class="swiper-slide">
			<a class="d-block position-relative" href="{{ item.url | relative_url }}">
			<div class="bg-info rounded position-absolute top-0 start-0 w-100 h-100"></div>
			<img class="d-block position-relative zindex-2 mx-auto rounded" src="{{ item.project-thumbnail | relative_url }}" width="636" alt="{{ item.client-name }}"></a>
			<div class="pt-4 mt-sm-2">
				<h4><a href="{{ item.url | relative_url }}">{{ item.description }}</a></h4>
			</div>
		</div>
		{% endfor %}
		</div>
	</div>
</div>